<!-- _pages/publications.md -->
<div class="publications">
    <h3>Pre-prints</h3>
      <ul>
        <li>
            <a href="https://arxiv.org/abs/2210.16427">Semi-Quantum Random Number Generation</a><br>
            Julia Guskind, Walter O Krawec <br>
            <b>IEEE International Conference on Quantum Computing and Engineering (2023)</b>
        </li>
      </ul>
      
    <h3>Published</h3>
      <ul>
        <li>
            <a href="https://iopscience.iop.org/article/10.1088/2058-9565/ac7412/meta">Mediated Semi-Quantum Key Distribution with Improved Efficiency</a><br>
            Julia Guskind, Walter O Krawec <br>
            <b>Quantum Science and Technology (2022)</b>
        </li>
      </ul>
  
  </div>
  